.cart-summary-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  color: #616e7c;
}

.summary-heading {
  font-size: 20px;
}

.summary-btn {
  color: #fff;
  background-color: #0b69ff;
  border: none;
  padding: 8px;
  border-radius: 8px;
}

.total-amount {
  color: #171f46;
  font-size: 30px;
}

.popup-container {
  height: 50vh;
  width: 50vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #0b69ff;
}

.success-msg {
  color: green;
}
